%section.ten-oh-announcement
  .ten-oh-label
    %span 10.6
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              In this month’s release of GitLab 10.6, we've added CI/CD for GitHub, improved Kubernetes integration, and much more.
            .btn-group
              %a.btn.cta-btn.ghost{href: "/2018/03/22/gitlab-10-6-released/"}
                See what’s new
